# Generate Simple Dataset

for highlighting how to use [`deepscatter`][deepscatter] (from [NOMIC.ai][NOMIC.ai]) with [`svelte`][svelte] and [`sveltekit`][sveltekit].

Credit goes to Benjamin Schmidt ([@bmschmidt][Benjamin Schmidt]) of [NOMIC.ai][NOMIC.ai] for his assistance.


**DISCLAIMER** from [deepscatter][deepscatter]'s GitHub page under [API]:

> This is still subject to change and is not fully documented. The encoding portion of the API mimics Vega-Lite with some minor distinctions to avoid deeply-nested queries and to add animation and jitter parameters.



[api section]: https://github.com/nomic-ai/deepscatter#api
[svelte]: https://svelte.dev
[sveltekit]: https://kit.svelte.dev
[NOMIC.ai]: https://home.nomic.ai
[deepscatter]: https://github.com/nomic-ai/deepscatter
[Benjamin Schmidt]: https://gist.github.com/bmschmidt
[add_sidecars.py]: https://gist.github.com/bmschmidt/03947d36664ec07c63d7b72a5c8adbf8

## Slack Message

OK so if this is slow we can make it a gazillion times faster by doing this the right way, not joining on string keys, which is to use this [program][add_sidecars.py].

The workflow is:

1. Run quadfeather to create tiles the way you currently are into a folder at ~/data/whatever/my_tiles

2. Create a single file that contains all the data you want to add, but none of the data that’s already there except for your unique id field. (barcode). That file needs to be somewhat strictly formatted, right now. (This is an unreleased feature). barcode must be the same name and data type as in your primary file.

3. The file must be a feather file, not parquet. (from pyarrow import feather; feather.write_feather(parquet.read_table("fin.parquet"), "fout.feather") )

4. All columns that you want to show up in the data should ideally be float32() type, although doubles might not be the end of the world.

Save the program above to [add_sidecars.py][add_sidecars.py], and run 

```shell
python3 add_sidecars.py --tileset ~/data/whatever/my_tiles --sidecar fout.feather --key barcode
```

[add_sidecars.py]: https://gist.github.com/bmschmidt/03947d36664ec07c63d7b72a5c8adbf8

## Imports

In [36]:
# standard lib
import os, pwd, sys, json, yaml, atexit, tempfile, inspect

# for data-science
import pandas as pd, numpy as np, quadfeather
from pyarrow import feather

# for plotting
import matplotlib as mpl, matplotlib.pyplot as plt, seaborn as sns

## Setup

In [96]:
SEED = 3
np.random.seed(SEED)

# NOTE: this is much smaller than what deepscatter can actually handle
N_POINTS = 20000

# NOTE: this is much smaller than the default tile size of 50,000
TILE_SIZE = 1000

# full path to this notebook
FILE = os.path.abspath('')

# the sveltekit project you might be working on / want to deploy
SVELTEKIT_DIR = os.path.join(FILE, '..')

# the static assets directory of the sveltekit project where files are hosted
STATIC_ASSETS_DIR = os.path.join(SVELTEKIT_DIR, 'static')

# we are assuming that you might have multiple datasets you want to host / switch between
DATASETS_DIR = os.path.join(STATIC_ASSETS_DIR, 'datasets')

# this is where we are going to store our dataset
DATASET_NAME = 'demo'
DEMO_DATASET_DIR = os.path.join(DATASETS_DIR, DATASET_NAME)

# NOTE: this is the unique ID that will be used map additional columns to the dataset
LABEL_NAME = 'label'

In [40]:
# you can switch TARGET_DIR with whatever dataset you want to work with
TARGET_DIR = DEMO_DATASET_DIR

if not os.path.isdir(TARGET_DIR):
    os.makedirs(TARGET_DIR)    

# NOTE: you can use a temp direcotry, but this is so you can view the files and confirm they are deleted
TMP_DIR = os.path.expanduser('~/Downloads')

## Utils

In [ ]:
usr = pwd.getpwuid(os.getuid())[0]

def collapse_user(path: str) -> str:
    prefix, rest = path.split(usr)    
    return '~' + rest

In [37]:
def make_temp_file(**kwargs) -> tempfile.NamedTemporaryFile:
    temp = tempfile.NamedTemporaryFile(**kwargs)
    @atexit.register
    def delete_temp() -> None:
        temp.close()
    return temp

In [41]:
# where we will store points
csv_points = make_temp_file(suffix='.csv', dir=os.path.expanduser(TMP_DIR))

# where we will store additional information
csv_sidecar = make_temp_file(suffix='.csv', dir=os.path.expanduser(TMP_DIR))

# where we will store additional information as feather file
feather_sidecar = make_temp_file(suffix='.feather', dir=os.path.expanduser(TMP_DIR))

In [42]:
csv_labels = os.path.join(TARGET_DIR, 'labels.csv')

## Fake Data

In [31]:
labels = pd.Series(np.arange(N_POINTS), name=LABEL_NAME).map(lambda x: f'Label {x}')

In [34]:
df_points = pd.DataFrame(
    np.random.randn(20000, 3),
    index=labels, columns=['x', 'y', 'z']
)
df_points.head()

                x         y         z
label
Label 0 -0.983575 -0.123042 -0.289198
Label 1  0.001921  0.281853  0.733217
Label 2 -0.380212 -0.089887 -0.844958
Label 3  0.307719  0.195229 -1.463317
Label 4  0.542913  1.141864 -0.421162

In [79]:
df_sidecar = pd.DataFrame(
    np.random.randn(20000, 5), index=labels, 
    columns=['category', 'boolean', 'continuous', 'feature', 'target'],
    # dtype=['category', 'bool', 'float64', 'float64', 'float64']
)
df_sidecar.category = df_sidecar.category.map(lambda x: np.abs(int(x * 3)))
df_sidecar.boolean = df_sidecar.boolean.map(lambda x: x >= 0)
df_sidecar = df_sidecar.astype({'category': 'category', 'boolean': 'bool'})
df_sidecar.head()

        category  boolean  continuous   feature    target
label
Label 0        0    False   -1.681646 -0.408990 -0.307406
Label 1        3    False   -0.024904  0.279881  0.380734
Label 2        3    False    1.034050  0.595985  0.289231
Label 3        5    False   -0.913413  0.415010  0.235114
Label 4        3     True   -0.421048 -0.143568  0.335676

In [80]:
labels.to_csv(csv_labels)
df_points.to_csv(csv_points)
df_sidecar.to_csv(csv_sidecar)

## Workflow

### 1) create tiles

In [46]:
!quadfeather --files {csv_points.name} --tile_size {TILE_SIZE} --destination {os.path.join(TARGET_DIR, 'tiles')}

In [ ]:
for item in os.listdir(TMP_DIR):
    # NOTE: _deepscatter_tmp doesn't automatically get cleaned up
    if '_deepscatter_tmp' == item:
        os.remove(os.path.join(TMP_DIR, item))

### 2) make single file

Create a single file that contains all the data you want to add, but none of the data that’s already there except for your unique id field (`label` in this case). 

NOTE: `label` must be the same name and data type as in your primary file.

In [89]:
df_all = pd.concat([df_points, df_sidecar], axis=1)

In [90]:
df_all.head()

,x,y,z,category,boolean,continuous,feature,target
label,,,,,,,,
Label 0,-0.983575,-0.123042,-0.289198,0,False,-1.681646,-0.408990,-0.307406
Label 1,0.001921,0.281853,0.733217,3,False,-0.024904,0.279881,0.380734
Label 2,-0.380212,-0.089887,-0.844958,3,False,1.034050,0.595985,0.289231
Label 3,0.307719,0.195229,-1.463317,5,False,-0.913413,0.415010,0.235114
Label 4,0.542913,1.141864,-0.421162,3,True,-0.421048,-0.143568,0.335676

In [91]:
# NOTE: this is the same as df_sidecar
df_all = df_all.drop(columns=df_points.columns)
df_all.head()

        category  boolean  continuous   feature    target
label
Label 0        0    False   -1.681646 -0.408990 -0.307406
Label 1        3    False   -0.024904  0.279881  0.380734
Label 2        3    False    1.034050  0.595985  0.289231
Label 3        5    False   -0.913413  0.415010  0.235114
Label 4        3     True   -0.421048 -0.143568  0.335676

NOTE: **All** columns that you want to show up in the data should ideally be `float32()` type, although doubles might not be the end of the world.

In [92]:
df_all = df_all.astype('float32')
df_all.head()

         category  boolean  continuous   feature    target
label
Label 0       0.0      0.0   -1.681646 -0.408990 -0.307406
Label 1       3.0      0.0   -0.024904  0.279881  0.380734
Label 2       3.0      0.0    1.034050  0.595985  0.289231
Label 3       5.0      0.0   -0.913413  0.415010  0.235114
Label 4       3.0      1.0   -0.421048 -0.143568  0.335676

The file must be a [feather file][feather file], not parquet. 

```python 
from pyarrow import feather; 

# if converting from parquet
feather.write_feather(parquet.read_table('fin.parquet), 'fout.feather))

# if converting pandas
feather.write_feather(df, 'fout.feather')
```

[feather file]: https://arrow.apache.org/docs/python/feather.html

In [94]:
feather.write_feather(df_all, feather_sidecar.name)

### 3) run `add_sidecars.py`

In [ ]:
!python3 add_sidecars.py --tileset {os.path.join(TARGET_DIR, 'tiles')}\
                         --sidecar {feather_sidecar.name} --key {LABEL_NAME};
!clear

## Meta Data

In [122]:
meta = dict(
    seed=SEED, n_points=N_POINTS, tile_size=TILE_SIZE, 
    dataset_name=DATASET_NAME, label_name=LABEL_NAME,
    
    # NOTE: since all these direcetories are relative to the static assets directory
    #       we can use the relative path to the static assets directory instead of the wrangling
    #       we did above.
    target_dir=TARGET_DIR.replace(STATIC_ASSETS_DIR, ''), 
    tiles_dir=os.path.join(TARGET_DIR, 'tiles').replace(STATIC_ASSETS_DIR, ''),

    embedding_columns=df_points.columns.values.tolist(),
    sidecar_columns=df_sidecar.columns.values.tolist(),
)

In [123]:
with open(os.path.join(TARGET_DIR, 'meta.yml'), 'w') as f:
    f.write(yaml.dump(meta))

## Cleanup

NOTE: these files will automatically be deleted when the kernel stops, but we delete them here for good practice

In [98]:
csv_points.close()
csv_sidecar.close()
feather_sidecar.close()